@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px;
  margin: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a{
  text-decoration: none;
  color: grey;
  
}

li{
  list-style: none;
}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
}

.right-links{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 20px;
}

.left-links{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}

ul{
  margin: 0;
  padding: 0;
}