body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 1px;
  padding-top: 12px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 6px;
  padding: 6px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
}

.button-container {
  background: #e3f4ff;
  padding: 6px;
  margin: 6px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 15px;
  margin-left: 132px
}